# Copy this file to `.env` and fill in the values

CXONE_TOKEN_BASE_URL=https://cxone-preprod/auth/realms
CXONE_TENANT=cxone-preprod
CXONE_REFRESH_TOKEN=YOUR_REFRESH_TOKEN_HERE
CXONE_API_BASE_URL=https://cxone-preprod/api/
# Optional – keep default unless you have a custom value
CXONE_CLIENT_ID=ast-app
